<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Welcome to repo-explorer!</h1>
    <img src="assets/images/github.png" alt="I'm GitHub">
    <p class="lead">Start by loggin in..</p>
    <button class="btn btn-primary" ng-click="mainCtrl.login()"> Log in !</button>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <!--<ul class="col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">-->
        <!--<li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}</a></li>-->
      <!--</ul>-->
      <ul>
        <li>Scaffolded project with Yeoman (Angular-Fullstack generator)</li>
        <li>Node Server</li>
        <li>Angular front</li>
        <li>Bootstrap styling</li>
      </ul>

    </div>
  </div>
</div>
